/**
 * @file: Set styles used for the code input page.
 */

.path-frontpage,
.path-code {
  .main-container {
    background: url(../images/code-bg.jpg) top center;
    background-size: cover;
    height: 100%;

    .region-header {
      .logo {
        margin: 8px 0;

        &::before {
          background: none;
          height: 0;
          width: 0;
        }
      }

      img {
        width: auto;
      }
    }

    #priob-code-form {
      margin-top: 40px;
      text-align: center;

      #code-wrapper {
        margin-bottom: 70px;

        .form-item-code {
          display: inline-block;
          text-align: center;
          border-bottom: $blue02 1px solid;

          label {
            color: $blue02;
            font-family: $brillbolditalic;
            font-size: 2.3em;
            display: inline-block;
            margin: 0;
            line-height: normal;

            &:after {
              display: none;
            }
          }

          #edit-code {
            color: $blue02;
            font-family: $opensans;
            font-size: 2em;
            font-weight: 700;
            display: inline-block;
            width: 170px;
            border: none;
            box-shadow: none;
            background: transparent;
            text-transform: uppercase;
            padding: 0 0 0 10px;
          }
        }

        .code-error {
          position: relative;
          background: $red01;
          width: 200px;
          margin: 0 auto;
          border-radius: 10px;
          color: $white;
          font-weight: 500;
          padding: 10px;
          font-size: 1.3em;

          &::before {
            bottom: 95%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;

            border-color: transparent;
            border-bottom-color: $red01;
            border-width: 15px;
            margin-left: -15px;
          }

          .alert {
            display: inline-block;
            padding: 0;
            margin: 0;
            vertical-align: text-bottom;

            &::before{
              content: '';
              background: url(../images/alert_error.svg);
              background-size: 100%;
              height: 20px;
              width: 20px;
              display: block;
              overflow: hidden;
            }
          }
        }
      }

      button {
        color: $gray01 !important;
        font-family: $brillbolditalic;
        font-size: 1.2em;
        float: left;
        width: 50%;

        border: none;
        background: none;
        box-shadow: none;
        text-shadow: none;
        margin: 0;
        margin-bottom: 70px;

        &:hover {
          color: $white !important;
        }

        &::before {
          content: '';
          display: block;
          overflow: hidden;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          margin: 0 auto;
          height: 40px;
          margin-bottom: 10px;
        }

        &#edit-traceability::before {
          background-image: url(../images/icone1_traceability.svg);
          width: 90px;
        }

        &#edit-live-the-moment::before {
          background-image: url(../images/icone2_livethemoment.svg);
          width: 50px;
        }

        &#edit-message-in-a-bottle::before {
          background-image: url(../images/icone3_msginbottle.svg);
          width: 50px;
        }

        &#edit-competition::before {
          background-image: url(../images/icone4_competition.svg);
          width: 50px;
        }
      }

      /*
      #edit-traceability,
      #edit-live-the-moment,
      #edit-message,
      #edit-competition*/
    }
  }
}