/**
 * @file: Contains the styles available for all the pages.
 */

body {
  font-family: $opensans;
}

.region-header {
  .logo {
    margin: 0;
    position: relative;

    &::before {
      content: '';
      background: url(../images/header-back.svg);
      height: 35px;
      width: 35px;
      display: block;
      position: absolute;
      top: 25%;
      background-size: cover;
    }
  }

  img {
    width: 230px;
  }
}

.alert {
  margin-top: 20px;
}