/**
 * @file: Set styles used for the traceability page.
 */

.path-traceability {
  .priob-content {
    overflow: hidden;
    display: block;
    position: relative;
    margin: 20px 0;
    font-size: 0.9em;
    color: $gray02;

    .left {
      float: left;
      width: 66%;
      margin-bottom: 20px;

      .field-wrap {
        margin-bottom: 1em;
      }
    }

    .right {
      float: right;
      width: 33%;
      text-align: center;
      margin-bottom: 20px;
    }

    .map-legend {
      background: $transblack01;
      position: absolute;
      width: 100%;
      bottom: 0;

      ul {
        padding: 0;
        margin-bottom: 4px;

        li {
          list-style: none;
          display: inline-block;
          margin-left: 10px;
          color: #fff;
          font-size: 0.8em;

          &:not(*:root) {
            font-size: 0.9em;
          }
        }
      }
    }

    #leaflet-map {
      clear: both;

      .leaflet-control-attribution {
        display: none;
      }
    }
  }

  .show-more {
    cursor: pointer;
  }
}