{# Block Template #}
<section class="col-md-4 text-center col-md-offset-2">
  <h3 style="font-size:22px">{{ titre }}</h3>
  <p>{{ text }}</p>
  <button  class="annuaire-btn">
    <a href="{{ link }}">{{ bouton }}</a>
  </button>
</section>

