/*photo actualité*/
.view-display-id-page_1 .views-row .views-field-field-photo-d-actualite .field-content a .img-responsive,
.view-display-id-page_2 .views-row .views-field-field-photo-d-actualite .field-content a .img-responsive{
  float: left;
  clear: both;
  padding-right: 30px;
  margin-bottom: 2%;
}
/* paragraphe page actualité*/
.view-display-id-page_1 .views-row .views-field .field-content
.view-display-id-page_2 .views-row .views-field .field-content {
  margin-bottom: 2%;
}
.view-display-id-page_1 .views-row .views-field .field-content p,
.view-display-id-page_2 .views-row .views-field .field-content p{
  text-align: justify;
}
/*titre page*/
.view-display-id-page_1 .view-content .views-row,
.view-display-id-page_2 .view-content .views-row {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
/*titre des actualités avec image*/
.view-display-id-page_1 .views-row,
.view-display-id-page_2 .views-row {
  float: left;
}
.view-display-id-page_1 .views-row .views-field-title .field-content a,
.view-display-id-page_2 .views-row .views-field-title .field-content a {
  color: #a8c80c;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.view-display-id-page_1 .views-row .views-field-body ul,
.view-display-id-page_2 .views-row .views-field-body ul{
  float: left;
}
.view-display-id-page_1 .views-row .views-field-body p,
.view-display-id-page_2 .views-row .views-field-body p{
  float: left;
}
/*titre actualité*/
.path-actualites .js-quickedit-main-content .row .col-sm-12 .region-header .js-quickedit-page-title {
  color: #f0ecec;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
}
/* changer le couleur des actualités */
.view-id-slideshow_actualites_ .view-content .views-row:nth-child(even) {
  background: #f1f1f1;
}
.view-id-slideshow_actualites_ .views-row {
  border-top: 1px solid #dddddd;
}
.view-display-id-page_1 .views-row:hover,
.view-display-id-page_2 .views-row:hover {
  background-color: #f1f1f1;
}
/*Date actualité*/
.view-display-id-page_1 .views-row .views-field-created-1 .field-content,
.view-display-id-page_2 .views-row .views-field-created-1 .field-content {
  color: #a8c80c;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
/*photo actualité*/
/*.view-display-id-page_1 {
  .view-content{
  .views-row {
    .field-field-fichier-actualite {
      .field-content{
        .file{
        .file-link{
          
          background:#000000 !important;
           }   
        }
      }  
     }
    }
  }
}*/
/*fichier des actualités*/
.file > span {
  background: none;
  border-bottom: none;
  border-top: none;
}
.file-icon,
.file-link,
.file-size,
.file > .tabledrag-changed {
  display: inline;
}
.file > span:last-child {
  border-right: none;
}
.file > span:first-child {
  border-left: none;
}
.views-field-field-fichier-actualite .field-conten .span {
  padding-top: 20%;
}
