/* css pour le carousel partenaire */
/* Aligner les logos des partenaires */
.footer .partenaire-slider-footer {
  display: inline-block;
  width: 150px;
  margin: 10px;
}
/* Centrer le bandeau des partenaires */
#partenaire-slider-center {
  text-align: center;
}
/* Mise en forme des titres du bandeau partenaire */
.footer .block-title {
  color: #a8c80c;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase ;
  border-top: solid #a8c80c;
  vertical-align: top;
}
/* Partenaires Soutien tous niveaux sauf platinium */
#views_slideshow_cycle_teaser_section_partenaire-block_2 div div {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}
.footer .region-footer {
  background-color: #cccccc;
  /* Partenaires Soutien tous niveaux sauf platinium */
  /* Partenaires Soutien platinium */
  /* Partenaires Emploi */
  /* Partenaires Formation */
  /*
  #block-portailcrsn-views-block-partenaire-block-1{
    background-color: white;
     .block-title {
        color: @green;
        font-size: 24px;
        text-transform: uppercase;
     }
  }
  */
}
.footer .region-footer #block-views-block-partenaire-block-2 {
  background-color: white;
}
.footer .region-footer #block-views-block-partenaire-block-3 {
  background-color: white;
}
.footer .region-footer #block-views-block-partenaire-block-4 {
  background-color: white;
  /* .block-title {
        color: @green;
        font-size: 24px;
        text-transform: uppercase;
        border-top-color: @green;
     } */
}
.footer .region-footer #block-views-block-partenaire-block-5 {
  background-color: white;
  /*
        .block-title {
        color: @green ;
        font-size: 24px;
        text-transform: uppercase ;
       
      }
      */
}
/*
#views_slideshow_cycle_teaser_section_partenaire-block_1 > div > div {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}
*/
